@CHARSET "ISO-8859-1";

.input_1,
.input_2,
.input_3,
.input_4,
.input_5,
.input_6,
.input_7,
.input_8,
.input_9,
.input_10,
.input_11,
.input_12,
.input_13,
.input_14,
.input_15,
.input_16,
.input_17,
.input_18,
.input_19,
.input_20,
.input_21,
.input_22,
.input_23,
.input_24,
.input_25,
.input_26,
.input_27,
.input_28,
.input_29,
.input_30,
.input_31,
.input_32,
.input_33,
.input_34,
.input_35,
.input_36,
.input_37,
.input_38,
.input_39,
.input_40,
.input_41,
.input_42,
.input_43,
.input_44,
.input_45,
.input_46,
.input_47,
.input_48,
.input_49,
.input_50,
.input_51,
.input_52,
.input_53,
.input_54,
.input_55,
.input_56,
.input_57,
.input_58,
.input_59,
.input_60,
.input_61,
.input_62,
.input_63,
.input_64,
.input_65,
.input_66,
.input_67,
.input_68,
.input_69,
.input_70,
.input_71,
.input_72,
.input_73,
.input_74,
.input_75,
.input_76,
.input_77,
.input_78,
.input_79,
.input_80{
	height: 18px;
}



.input_1 {width: 12px;}
.input_2 {width: 24px;}
.input_3 {width: 36px;}
.input_4 {width: 48px;}
.input_5 {width: 60px;}
.input_6 {width: 72px;}
.input_7 {width: 84px;}
.input_8 {width: 96px;}
.input_9 {width: 108px;}
.input_10 {width: 120px;}
.input_11 {width: 132px;}
.input_12 {width: 144px;}
.input_13 {width: 156px;}
.input_14 {width: 168px;}
.input_15 {width: 180px;}
.input_16 {width: 192px;}
.input_17 {width: 204px;}
.input_18 {width: 216px;}
.input_19 {width: 228px;}
.input_20 {width: 240px;}
.input_21 {width: 252px;}
.input_22 {width: 264px;}
.input_23 {width: 276px;}
.input_24 {width: 288px;}
.input_25 {width: 300px;}
.input_26 {width: 312px;}
.input_27 {width: 324px;}
.input_28 {width: 336px;}
.input_29 {width: 348px;}
.input_30 {width: 360px;}
.input_31 {width: 372px;}
.input_32 {width: 384px;}
.input_33 {width: 396px;}
.input_34 {width: 408px;}
.input_35 {width: 420px;}
.input_36 {width: 432px;}
.input_37 {width: 444px;}
.input_38 {width: 456px;}
.input_39 {width: 468px;}
.input_40 {width: 480px;}
.input_41 {width: 492px;}
.input_42 {width: 504px;}
.input_43 {width: 516px;}
.input_44 {width: 528px;}
.input_45 {width: 540px;}
.input_46 {width: 552px;}
.input_47 {width: 564px;}
.input_48 {width: 576px;}
.input_49 {width: 588px;}
.input_50 {width: 600px;}
.input_51 {width: 612px;}
.input_52 {width: 624px;}
.input_53 {width: 636px;}
.input_54 {width: 648px;}
.input_55 {width: 660px;}
.input_56 {width: 672px;}
.input_57 {width: 684px;}
.input_58 {width: 696px;}
.input_59 {width: 708px;}
.input_60 {width: 720px;}
.input_61 {width: 732px;}
.input_62 {width: 744px;}
.input_63 {width: 756px;}
.input_64 {width: 768px;}
.input_65 {width: 780px;}
.input_66 {width: 792px;}
.input_67 {width: 804px;}
.input_68 {width: 816px;}
.input_69 {width: 828px;}
.input_70 {width: 840px;}
.input_71 {width: 852px;}
.input_72 {width: 864px;}
.input_73 {width: 876px;}
.input_74 {width: 888px;}
.input_75 {width: 900px;}
.input_76 {width: 912px;}
.input_77 {width: 924px;}
.input_78 {width: 936px;}
.input_79 {width: 948px;}
.input_80 {width: 960px;}

